<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Ajax Demo</title>

    
    <script type=text/javascript>
        // creating a jquery constant for wherever the webserver is being run from
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <!-- importing jquery from a cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- importing plotly.js from a cdn -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- using the flask url_for function to get styles for this page -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

</head>
<body>
    
    <div class="container">
        
        <div id="plotly-figure"></div>

        <div class="row">
            <span>Year: 20</span>

            <!-- populating a year dropdown with a range from 02 to 20 with flask -->
            <select name="year" id="year">
                {% for year in possible_years %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select>

        </div>

    </div>

    <!-- using the flask url_for function to get a script -->
    <script src="{{url_for('static', filename='createChart.js')}}"></script>
</body>
</html>